
@{
    ViewBag.Title = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="card">
    <div class="card-body">
        <h5 class="card=title">Error Message</h5>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>Something wrong Happened</p>
    </div>

</div>


